@import 'config';

.button {
  cursor: pointer;
  display: inline-block;
  min-width: 10rem;
  padding: 1rem 2rem;
  font-size: $font-size--h5;
  border-radius: $border-radius--primary;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  white-space: nowrap;
  transition: all $duration-short;
  &--main {
    border: $border-width--primary solid $main-color;
    color: $light-color--dark;
    background: $main-color;
    &:hover {
      border: $border-width--primary solid $main-color--dark;
      background: $main-color--dark;
    }
    &:active {
      border: $border-width--primary solid $main-color--max-dark;
      background: $main-color--max-dark;
    }
  }
  &--secondary--main {
    border: $border-width--primary solid $main-color;
    color: $main-color;
    background: none;
    &:hover {
      border: $border-width--primary solid $main-color--dark;
      color: $light-color--dark;
      background: $main-color--dark;
    }
    &:active {
      border: $border-width--primary solid $main-color--max-dark;
      background: $main-color--max-dark;
    }
  }
  &--secondary--light {
    border: 1px solid $light-color--dark;
    color: $light-color--dark;
    background: none;
    &:hover {
      background: $main-color--dark--op-25;
    }
    &:active {
      border: $border-width--primary solid $light-color--max-dark;
      background: $main-color--max-dark--op-25;
    }
  }
  &--card-cover {
    font-size: $font-size--h4;
    border: $border-width--primary solid $main-color--dark;
    background: $dark-color--op-5;
    &:hover {
      background: $dark-color--op-75;
    }
    &:active {
      border: $border-width--primary solid $light-color--max-dark;
      background: $dark-color--op-9;
    }
  }
  &__interior-icon {
    margin-right: 1rem;
    color: inherit;
  }
  &--pair-spacing {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.link {
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: color $duration-short;
  &--main {
    color: $main-color;
    &:hover {
      color: $main-color--dark;
    }
    &:active {
      color: $main-color--max-dark;
    }
  }
  &--light {
    color: $light-color--dark;
    &:hover {
      color: $main-color--dark;
    }
    &:active {
      color: $main-color--max-dark;
    }
  }
  &--standalone {
    display: block;
    width: fit-content;
    margin-bottom: 0.5rem;
  }
  &__interior-icon {
    vertical-align: 1.9px;
    margin-left: 0.5rem;
    font-size: $font-size--h6;
    color: inherit;
  }
}

.section {
  padding: 1rem;
  min-height: 40rem;
  &--standalone {
    min-height: calc(100vh - 12rem);
  }
  &__title {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: $font-size--h2;
    font-family: $heading-font;
    @media (min-width: $primary-content-width) {
      margin: 4rem 0 2rem 1.5rem;
    }
  }
  &__container {
    max-width: $primary-content-width;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: $border-radius--primary;
    @media (min-width: $mobile-width) {
      padding: 4rem;
    }
    &--bordered {
      border: $border-width--primary solid $main-color;
    }
    &--centered {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &__hero-title {
    display: inline-block;
    font-size: $font-size--h1;
    letter-spacing: 0.2rem;
    font-family: $heading-font;
    &--ludicrous {
      font-size: $font-size--ludicrous;
    }
    &--reasonable {
      font-size: $font-size--h2;
    }
    &__accent-letter {
      font-family: inherit;
      color: $main-color;
    }
  }
  &__hero-subtitle {
    display: inline-block;
    margin: 2.5rem 0;
    font-size: $font-size--h3;
  }
  &__subtitle {
    margin-bottom: 1rem;
    font-size: $font-size--h3;
    font-weight: 700;
    font-family: $heading-font;
  }
  &__copy {
    margin-bottom: 1rem;
    &--interior-title {
      z-index: 6;
      margin-top: 1rem;
      font-size: $font-size--h4;
      font-weight: 700;
    }
    &--interior-subtitle {
      margin: 1rem 0 0.5rem 0;
      font-weight: 700;
    }
    &--strong {
      margin-bottom: 2rem;
      font-size: $font-size--h4;
    }
    &--fine-print {
      font-size: $font-size--h6;
      font-weight: 300;
    }
    &__list {
      margin-left: 1rem;
    }
    &__list-item {
      margin-bottom: 0.5rem;
    }
  }
}
