@import 'config';

.container--max-website-width {
  width: 100%;
  max-width: $max-website-width;
  margin: 0 auto;
}

.header-offset {
  height: 4rem;
}

.hidden {
  display: none !important;
}

.mono-font {
  font-family: $mono-font !important;
  font-weight: 700;
}
